img {
    border-radius: 50%;
}
.center-box {
    display: flex;
    justify-content: center;
}

body{
    background-color: blueviolet;
}
.myname{
    color: rgb(0, 255, 98);
    text-align: center;
    font-size: 3rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h3{
    color: blue;
    font-size: 2rem;
    font-family: cursive;
}
p{
    color: chartreuse;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.s{
    display: flex;
    justify-content: space-around;
}